# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv

# Models
*.joblib
models/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/

.env

linecollection.py
main.py
modeltraining.ipynb
montecarlo.ipynb
test.py
tutorial.ipynb
utils.py
visuals.py
